.scoreBox {
    background: #ababab:
}

img {
    background: #ababab;
    padding-top: 2.5em;
    margin-bottom: 2em;
}

.apprentice {
    padding-top: 9em;
}

.huntress {
    padding-top: 5.5em;
}

.squire {
    padding-top: 4.75em;
}